@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #A77A95;
    font-weight: bolder;
}
.para{
    font-family: 'Poppins', sans-serif;
}

/* navbar */
header {
    background-color: #FAEEE9;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 5px;
    z-index: 1;
}
header .wrapper {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 70%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #faeee9;
    padding: 2rem;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    /* all: unset; */
    margin-right: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: #a77a95;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
}
.navbar ul a:hover {
    color: #735366;
    text-decoration: underline ;
    text-decoration-thickness: 2px;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 3rem;
}
.close-nav button {
    all: unset;
    background: #f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
}
.close-nav button:hover {
    color: #222222;
    background: white;
}

.menu-bar button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 15px 49px 3px 10px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #444444;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: 
white;
}
.menu-bar button:hover i {
    border-color: 
#222222;
}





@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 2rem;
       
    }
    .navbar ul a {
        font-size: inherit;
       
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
}
/* navbar */

.button{  
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    background-color: #C3C3D5;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;

}
.button:hover{
    background-color: #735366;
    transition: 1s;
    color:white; 
    box-shadow: 3px 3px 2px #A77A95;
    transform: scale3d(1.1,1.1,1.1);
}
.bg{
    background-color: #FAEEE9;
}
.center{
    text-align: center;
    margin: 20px 0;
}
/* Services */
.container{
    padding: 3% 12%;
    margin-top: 30px;
}
h1, h5 ,h6{
    text-align: center;
}
 h5{
 margin: 20px 0;
}

.service{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service span{
    font-size: 25px;
}
.service-content{
    width: 50%;
}
.service-content p{
    margin-bottom: 20px;
}
.service-img{
    text-align: center;
}
.service-img img{
    width: 60%;
}

.center {
    text-align: center;
    margin: 20px 0;
    margin-top: 7%;
}







/* Footer */
.footer{
    text-align: center;
    background-color: #A77A95;
    padding-top: 2%;
    margin-top: 7%;
}
.footer-logo{
    position:relative;
    top: -110px;
}
.footer img{
    width: 12%;
}
.social{
    display: flex;
    gap: 60px;
    font-size: 30px;
    color: #cfcfed;
    justify-content: center;
    position:relative;
    top: -90px;
}

.social a{
    color: white;
}
.social a:hover{
    transform: scale3d(1.1,1.1,1.1);
    transition: 1s;
    color:lightgray;
}
.line{
    position:relative;
    top: -100px;
    color: #FAEEE9;
}
.line1{
    position:relative;
    top: -85px;
    color: #FAEEE9;
}
.footer-info{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position:relative;
    top: -70px;
}
.info-1{
    width: 25%;
}
.info-1 h5{
    font-size: 18px;
    margin-bottom: 1.5%;
}
.info-1 p{
    font-size: 12px;
    color: #D3CFDB;
}
.info-1 img{
    width: 120px;
    height: 50px;
}
.line2{
    position: relative;
    top: -55px;
}
.dis{
    text-align: center;
    color: white;
    font-size: 14px;
    position: relative;
    top: -35px;
}


@media (max-width:900px){
    .para{
        font-family: 'Poppins', sans-serif;
    }
    .heading {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 900;
        margin-top: 18%;
    }
    
    /* container */
    .bg {
        background-color: #FAEEE9;
        padding: 3% 0;
    }
    .service {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .service-content {
        width: 110%;
    }
    .reverse{
        flex-direction: column;
    }



    
    /* footer */
    .footer {
        text-align: center;
        background-color: #A77A95;
        padding-top: 2%;
        margin-top: 18%;
    }
    .footer-logo {
        position: relative;
        top: -60px;
    }
    .footer img {
        width: 16%;
    }
    .line {
        position: relative;
        top: -30px;
        color: #FAEEE9;
    }
    .social {
        display: flex;
        gap: 15px;
        font-size: 20px;
        color: #cfcfed;
        justify-content: center;
        position: relative;
        top: -20px;
    }
    .line1 {
        position: relative;
        top: -14px;
        color: #FAEEE9;
    }
    
    .footer-info {
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        position: relative;
        top: -5px;
        flex-direction: column;
    }
    .info-1 {
        width: 100%;
    }
    .line2 {
        position: relative;
        top: 0px;
    }
    .footer img {
        width: 33%;
    }
    .dis {
        text-align: center;
        color: white;
        font-size: 14px;
        margin-top: 40px;
    }
}